<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ชื่อร้าน</title>

  <!-- jquery -->
  <script src="jquery/jquery.js"></script>
  <!--  -->


  <!-- boostrap css -->

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <!--  -->
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  

  <style>
    * {
      padding: 0px;
      margin: 0px;
      font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    }

    #fixed-bottoms {
      padding-top: 10px;
      border-top: 1px solid #2d2c2c;
      background-color: #242424;
    }
    .position-relative {
      position: relative;
    }

    .product-img {
      width: 100%;
      height: auto;
    }

    .soldOutImage {
      top: 30px;
      left: 7px;
      width: 93%;
      height: 30%;
      object-fit: cover;
      opacity: 0.9;
      z-index: 10;
      pointer-events: none; 
      transform: rotate(-25deg);
    }
    .user-img{
      background:rgba(41, 255, 62, 0.724);
      box-shadow: rgba(21, 255, 44, 0.802) 0px 8px 24px, rgba(88, 251, 104, 0.49) 0px 16px 56px, rgb(136, 255, 148) 0px 24px 80px !important;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: solid 0.1px rgba(41, 255, 62, 0.724);
    }
  </style>



</head>

<body>
  <nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid m-1">
      <a class="navbar-brand d-flex"  href="/">
        <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
        <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
      </a>
      
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="color: aliceblue;">
       <img src="img/profile-user-removebg-preview.png" alt="" class="user-img" ></span>
       สวัสดี คุณ <%= customer_name %>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">สวัสดี คุณ <%= customer_name %></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           
            <li class="nav-item">
              <a class="nav-link" href="/customer_login">ดูประวัติการ</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link text-success" >สถานะ : เข้าสู่ระบบ...</a>
            </li>
            
            <br>

            <li class="nav-item">
              <form method="post" action="./api/auth/logout">
                <button class="btn btn-danger">ออกจากระบบ</button>
              </form>
              
            </li>
            
          </ul>
          
        </div>
      </div>
    </div>
  </nav>
  
  
  
  <div class="text-center mt-2">
    <h1>vegetable project</h1>
  </div>
  
  <div class="container">
    <div>
      <div class="mt-5 display-1 text-center no-results-message" style="display: none;">ไม่มีสินค้าที่ค้นหา</div>
    </div>
    <div class="row">
         
      <% list_store.forEach(store=> { %>
        <div class="col col-xl-4 mt-2 product-item"
          style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
          <form  method="post" class="d-flex justify-content-center " action="/customer_product_list">
          <button class="btn"  >
            <div class="card pt-2" id="product-items" style="width: 19rem;box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;">
              <img src="/img/store.png" class="card-img-top" alt="..."
                style="height: 100px !important; object-fit: contain;">
  
                <br>
              <h5 class="card-title text-center  ">
                <%= store.name_shop %>
              </h5>
  
              <div class="card-body ">
                <div>
                  <p class="card-text text-center ">
                    เบอร์ติดต่อร้าน : <%= store.phone %> 
                  </p>
                </div>
              </div>
              <!-- ซ่อนไว้ -->
              <input type="text" class="d-none" name="store_id" value="<%= store.user_id %>">
              <!--  -->
  
            </div>
          </button>
              
            
          </form>
        </div>
        <% }); %>
        
    </div>
  
  </div>
  

  <!-- boostrap js -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <% if (typeof message_success !== 'undefined' ) { %>
      <input type="hidden" id="message_alert" value="<%=message_success %>">
      <script>
  
        $(document).ready(function () {
          var messageerror = $('#message_alert').val()
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "success",
            title: messageerror
          })
          
        });
  
      </script>
      <% } %>

</body>

</html>