<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติ</title>
    <!-- boostrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--  -->

 
</head>
<body>
    <div class="container-fluid mt-0 pb-2"
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
      <a class="navbar-brand" style="height: 50px;width: 200px;" href="menu">
        <img style="width:100%; height:40px;" src="/img/logo-sm.png" alt="">
      </a>
    </nav>
</div>
    
<div class="container-sm  pt-2 border  rounded mb-3 " style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120);background-color: #ffffff; " >
    <form method="post" action="/history_info">
        <% history_p.forEach(product=> { %>
        <ul>
            <li>
                <%=product.user_id %>
            </li>
            <li>
                <%=product.date_time %>
            </li>
            <li>
                <%=product.product_name %>
            </li>
            <li>
                <%=product.summary %>
            </li>
            <li>
                <%=product.shop_name %>
            </li>

        </ul>
        
        <button type="submit" class="btn btn-primary form-control"  >ดูรายละเอียด</button>
        <% }); %>
    </form>
    
        

</div>



     


           
   

    



  <!-- boostrap js -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--  -->    
</body>
</html>