<h1>Hello</h1>
<h1>User Information</h1>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>Username: <%= data.username %></li>
        <li>Password: <%= data.password %></li>
        <li>Fullname: <%= data.fullname %></li>
        <li>Time: <%= time %> </li>
</ul>