<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชื่อร้าน</title>


    <!-- boostrap css -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!--  -->

    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <style>
        * {
            padding: 0px;
            margin: 0px;

            font-family: "Kanit", sans-serif;
            font-weight: 500;
            font-style: normal;

        }

        a {
            font-size: 2rem !important;
        }
    </style>

</head>

<body>
    <div class="container-fluid mt-0 "
        style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
            <a class="navbar-brand d-flex" href="/menu">
                <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
                <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
            </a>
        </nav>
    </div>
    <div class="mt-2">
        <br>
    </div>
    <h2 class="text-center">เพิ่มรายการใหม่</h2>

    <div class="container ">
        <form class="row g-3" method="post" action="/insert_paylater">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">ชื่อผู้ค้างชำระ</label>
                <input type="text" class="form-control" name="customer_name">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">จำนวนเงิน</label>
                <input type="text" class="form-control" name="amount">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">ข้อมูลที่อยู่</label>
                <input type="text" class="form-control" name="customer_address" placeholder="กรอกข้อมูลที่อยู่ลูกค้า">
            </div>

            <input type="hidden" name="user_id" value="<%= user_id %>">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">เพิ่มรายการค้างชำระ</button>
            </div>
        </form>
    </div>

    <br>
    <hr class="my-y">

    

    <div class="container bg-info rounded-3 py-2 pb-5">
        <h2 class="text-center mt-3">รายการค้างชำระ</h2>
        <div class="row justify-content-center">

            <% result.forEach( (res,index)=> { %>


                <div class="col mt-2 product-item "
                    style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
                    <form method="post" class="d-flex justify-content-center " action="#">
                        <div class="card pt-2" id="product-items" style="width: 22rem;">
                            <% if (res.status === 'pending') { %>
                                <div class="d-flex justify-content-center">
                                    <h3>สถานะ :</h3>
                                    <h3 class=" " style="color: rgb(0, 160, 27);"> ทำรายการสำเร็จ</h3>
                                </div>
                            <% }else { %>
                                <div class="d-flex justify-content-center">
                                    <h3>สถานะ :</h3>
                                    <h3 class=" " style="color: rgb(255, 0, 0);"> ค้างชำระ</h3>
                                </div>

                           <% } %>
                            

                            <h5 class="card-title text-center ">
                                <%= res.customers_name %>
                            </h5>
                            <div class="text-center  ">
                                วันที่ <%= res.due_date %>
                            </div>
                            <div class="text-center  ">
                                <%= res.amount %> บาท
                            </div>
                            <div class="p-2 ">
                                <button type="submit" class="btn btn-outline-primary form-control "
                                    style="font-size: 0.8rem;">ยืนยันเพื่อเปลี่ยนสถานะ</button>
                            </div>

                            <input type="hidden" name="user_id" value="<%= res.user_id %>">

                        </div>
                    </form>
                </div>

                <% }); %>

        </div>
    </div>
    <div class="vh-100"></div>


    <!-- boostrap js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof message_success !=='undefined' ) { %>
        <input type="hidden" id="message_alert" value="<%=message_success %>">
        <% if (message_success == 'เพิ่มรายการจ่ายทีหลังสำเร็จ') { %>
            <script>

                $(document).ready(function () {
                    var ms = $('#message_alert').val()
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: ms,
                        showConfirmButton: false,
                        timer: 1000
                    })
     
                });
    
            </script>

        <% }else if(message_success == 'ข้อมูลผิดพลาด') { %>
            <script>

                $(document).ready(function () {
                    var ms = $('#message_alert').val()
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: ms,
                        text:"กรุณากรอกข้อมูลให้ถูก หรือ ติดต่อแอดมิน",
                        confirmButtonText: "ติดต่อแอดมิน",
                    }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                        title: "Facebook",
                        text: "https://www.facebook.com/NeBSK",
                        });
                    }
                    }); 
                });
    
            </script>

        <% } %>
        
    <% } %>
    
</body>

</html>