<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: "Kanit", sans-serif;
      background-color: #f4f6f9;
    }
  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid m-1">
      <a class="navbar-brand d-flex" href="/customer_home">
        <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
        <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
      </a>
      <button class="btn btn-dark border border-1 border-white " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
      
    </div>
    </div>
  </nav>
  <div class="container">
    <div style="width: 100%;height: 800px;background-color: antiquewhite;">
      <h1>ร้านค้า</h1>
      แก้ไขข้อมูลของร้านค้า 
      <br>
      <form action="/editUsers" method="post">

        dataList

        <% dataList.forEach((data,index)=>  { %>
            <label for="">phone </label>
            <input type="text" name="phone" value="<%= data.phone %>">
            
            <label for="">first_name </label>
            <input type="text" name="first_name" value="<%= data.first_name %>">
            <label for="">last_name </label>
            <input type="text" name="last_name" value="<%= data.last_name %>">
            <label for="">uselocation_shopr_id </label>
            <input type="text" name="lo_shop" value="<%= data.location_shop %>">
            <label for="">name_shop </label>
            <input type="text"  name="name_shop" value="<%= data.name_shop %>">
            <label for="">pp_number </label>
            <input type="text" name="pp_number" value="<%= data.pp_number %>">
    
        <% }) %>

        
        <button type="submit"> save </button>
      </form>
      

    </div>
  </div>

  

 
 


  <!-- offcanvas ************* -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex justify-content-center">
      <div class="container vh-100">
        <button style="width: 310px;background-color: #ff7300;">ภาพรวมระบบ</button>
        <button style="width: 310px;background-color: #ff7300;">จัดการร้านค้า</button>
        <button style="width: 310px;background-color: #ff7300;">รายการสินค้า</button>
        <button style="width: 310px;background-color: #ff7300;">จัดการคำสั่งซื้อ</button>
        <button style="width: 310px;background-color: #ff7300;">จัดการคำสั่งซื้อ</button>
        <button style="width: 310px;background-color: #ff7300;">รายงาน</button>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>