<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชื่อร้าน</title>

    <!-- jquery -->
    <script src="jquery/jquery.js"></script>
    <!--  -->


    <!-- boostrap css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--  -->

    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        *{
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        }
        * {
            padding: 0px;
            margin: 0px;
        }
    </style>

  

 
  

</head>

<body>
    <div class="container-fluid mt-0"
    style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.120); background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex"  href="/menu">
            <img style="width:54; height:40px;" src="/img/logo-sm.png" alt="">
            <p style="color:#ff7300;font-size: 15px;padding-top: 15px;">VGTPROJECT</p>
          </a>
          
    </nav>
</div>
    <div class="container bg-dark-subtle pt-3 pb-2 ">
        <H1 class="text-center">สต็อกสินค้า</H1>
    </div>
    <div class="container">

        

        <div class="row ps-2">
            <% product_list.forEach(product=> { %>
                <div class="col mt-2 product-item"
                    style="max-height: auto; padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important;">
                    <form  method="post" class="d-flex justify-content-center " action="/edit_stock" >
                        <div class="card pt-2" id="product-items" style="width: 10rem;">

                            <img src="<%= product.product_img %>" class="card-img-top" alt="..."
                                style="height: 100px !important; object-fit: contain;">

                            <h5 class="card-title text-center ">
                                <%= product.productname %>
                            </h5>
                            <div class="text-center  ">
                                คงเหลือ <%= product.quantity %>
                            </div>
                            
                            <div class="card-body ">
                                <div>
                                    <p class="card-text text-center ">
                                        <%= product.price %> บาท / <%= product.unit %>
                                    </p>
                                </div>
                            </div>

                            <div class="p-2 ">
                                <button type="submit" class="btn btn-outline-primary form-control " style="font-size: 0.8rem;">แก้ไขสินค้า</button>  
                            </div>

                            <!-- ซ่อนไว้ -->
                            <input name="product_id" class="d-none" value="<%= product.product_id %>">
                            <input name="productType" class="d-none" value="<%= product.unit %>">
                            <input name="productName" class="d-none" value="<%= product.productname %>">
                            <input name="productPrice" class="d-none" value="<%= product.price %>">   
                            <input name="quantity" class="d-none" value="<%= product.quantity %>">           
                            <!--  -->

                        </div>
                    </form>
                </div>
                <% }); %>
        </div>
    </div>




    <!-- boostrap js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--  -->



</body>

</html>